<article class="post">
  <div class="banner">
    <span class="title">{{title}}</span>
    <span class="byline">
      Posted by
      {{user.username}}
      on
      {{format_date created_at}}
    </span>
  </div>
  <div class="content-wrapper">
    <p>{{content}}</p>
    <div class="comment-count">
      <a href="/post/{{id}}">{{comments.length}}
        {{format_plural "comment" comments.length}}</a>
    </div>
  </div>
</article>